/* Container for Centering */
.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  /* Adjust as needed */
  }
  
  /* Text Style */
  .home-text {
    margin-top: 30px;
    text-align: center;
  }
  
  /* Button Style */
  .button {
    display: inline-block;
    padding: 10px 50px; /* Adjust padding for width */
    font-size: 18px; /* Adjust font size */
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #e50914; /* Netflix Red */
    transition: background-color 0.3s ease;
  }
  
  /* Hover State */
  .button:hover {
    background-color: #b20710; /* Darker Red on Hover */
  }
  
  /* Active State */
  .button:active {
    background-color: #820605; /* Even Darker Red on Click */
  }

  /* body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  } */

  .form-container {
    place-self: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 25rem;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
  }

  .login-container{
    display: grid;
    height: 90vh;

  }

  .logo {
    width: 100px;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
  }
  